{% extends 'opac/base_generic.html' %}
{% block title %}<title>Title</title>{% endblock %}
{% block content %}
<form method="post" action="{% url 'reset' uidb64=uidb64 token=token %}">
    {% csrf_token %}
   Enter your password: <input type="password" name="Password" id="password" required></br>
   Confirm your password: <input type="password" name="Confirm Password" id="confirm_password" required></br>
        <input type="submit" name="Submit">
</form>
    <script>
        var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}

