{% extends 'ABSC/base.html' %}
{% block title %}<title>My Library</title>{% endblock %}
{% block additional_css %}
        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% load static %}
        
{% endblock %}

{% block sidebar %}
  <nav class="navbar navbar-inverse">
   <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ILS Menu</a>
      <div>
      {% if user.is_authenticated %}
    	<a class="nav navbar-brand nav-pills pull-left" style="padding:0px;margin-left:0px;" href="{% url 'logout'%}?next={{request.path}}">User: ({{ user.email }}) {{user.fullname}}
        </a>
        
      {% endif %}
     </div>
    </div>
    <div>
    <div>
    <ul class="nav navbar nav-pills pull-left" role="menu">
         <strong>
          <li><a href="{% url 'home' %}">Home</a></li>
     	  <li><a href="{% url 'reg-signup' %}?next={{request.path}}">Email Registration</a></li>   
          <li><a href="{% url 'catalog-search' %}">Search Library Catalog</a></li>
          <li><a href="{% url 'biblio-feeds' %}" target="biblio-feeds">RSS Feed to new arrivals</a></li>
          <li><a href="{% url 'user-search-query' %}">Search Library Patrons</a></li>
          <li><a href="{% url 'entryexitlog-search' %}">Search Visitors' Entry Exit Logs</a></li>
          <li><a href="/djk/biblio-create/" target="djk">Add/Edit Catalog Records</a></li>
          <li><a href="/djk/borrowers-grid-editable/" target="djk">Add/Edit Library Patron Records</a></li>
          <li><a href="{% url 'entryexitlogs-add' %}">Record Login/Logout Time of Visitors</a></li>
          <li><a href="/explorer" target="explorer">Run Reports</a></li>
          <li><a href="{% url 'list-system-preferences' %}">List System Preferences</a></li>
          <li><a href="{% url 'books' %}">All books</a></li>
          <li><a href="{% url 'authors' %}">All authors</a></li>
          <li><a href="{% url 'borrower-list' %}">All patrons</a></li>
          <li><a href="{% url 'export-borrowers' %}">Export patrons</a></li>
          <li><a href="{% url 'borrower-list-singletable' %}">All patrons - Single-table</a></li>
          <li><a href="{% url 'borrower-list-multitable' %}">All patrons - multi-table</a></li>
          <li><a href="{% url 'filtered-borrowers' %}">All patrons - filtered view</a></li>
          <li><a href="{% url 'biblios-list' %}">All biblios</a></li>
          <li><a href="{% url 'export-biblios' %}">Export biblios</a></li>
          <li><a href="{% url 'biblios-list-singletable' %}">All biblios - Single-table</a></li>
          <li><a href="{% url 'biblios-list-multitable' %}">All biblios - multi-table</a></li>
          <li><a href="{% url 'filtered-biblios' %}">All biblios - filtered view</a></li>
          <li><a href="{% url 'quote-add' %}">Add Quotations</a></li>
          <li><a href="{% url 'quotes' %}">List Quotations</a></li>
          <li><a href="{% url 'entryexitlogs-list' %}">List Gateregister Entries</a></li>
          <li><a href="http://localhost:8000/photos/drag-and-drop-upload/">Drag and Drop Bulk Upload Patron Photos</a></li>
          <li><a href="http://localhost/schemaSpy/index.html" target="dbschema">Database Schema</a></li>
          {% if user.is_authenticated %}
    		<li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
                <li><a href="{% url 'mysuggestions' %}">My Suggested Books</a></li>
     	        <li><a href="{% url 'mysuggestions-list-create' %}?next={{request.path}}">Suggest Books</a></li>   
                <li><a href="{% url 'issued-books' %}">Issued Books</a></li>
                <li><a href="{% url 'id-card' %}">Print Patron ID Card</a></li>
                <li><a href="{% url 'author-add' %}">Add new author</a></li>
                <li><a href="{% url 'profile-list' %}">List Patron Profiles</a></li>
                <li><a href="{% url 'issue-item-librarian-init' %}">Issue Book</a></li>
                <li><a href="{% url 'return-book-librarian-init' %}">Return Book</a></li>
                <li><a href="/djk/biblio-hold-grid/" target="djk">Reserve Library Collection</a></li>
                <li><a href="{% url 'password_reset' %}">reset password</a></li>
     	        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
   	  {% else %}
     		<li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
          {% endif %} 
          </strong>
        </ul> 
      </div>
     </div>     
  </div>
</nav>
{% endblock %}
{% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
              {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
        {% endif %}
{% endblock %} 
