{% extends 'opac/base_generic.html' %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load bootstrap3 %}
        {% block title %}<title>List of borrowers - Filtered View</title>{% endblock %}
        {% block additional_css %}
        <!-- Latest compiled and minified CSS -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>.
        {% endblock %}
    {% block content %}  
       {% if filter %}
          <form action="" method="get" class="form form-inline">
             {% bootstrap_form filter.form layout='inline' %}
             <!-- { bootstrap_button 'FILTER' } -->
             <button type="submit" class="btn btn-primary">Filter</button>
          </form>
       {% endif %}
       {% render_table table 'django_tables2/bootstrap-responsive.html' %}
    {% endblock %}
