{% extends "opac/base_generic.html" %}
{% block title %} <title>My Library Home Page</title> {% endblock %} 
{% block content %}
  <h1>My Library Home</h1>
  <p>Welcome to MyLibrary, a website developed by <em>Charitha, TSK</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Books (Titles):</strong> {{ num_books_titles }}</li>
    <li><strong>Books (Volumes):</strong> {{ num_books_volumes }}</li>
    <li><strong>Books Copies Available:</strong> {{ num_books_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li>
    <li><strong>Publishers:</strong> {{ num_publishers }}</li>
    <li><strong>Genres:</strong> {{ num_genres }}</li>
  </ul>
  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}
