<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>patrons</title>
    <meta name="description" content="" />
    <meta name="author" content="library">
    <link rel="shortcut icon" href="images/library_logo.png" />		
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/camera.css" rel="stylesheet">
    <link href="css/library_style.css" rel="stylesheet">
    
  </head>
   <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;    
}
</style>
<body>


<div id="library_mobile_menu">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="home.html" class="external-link"><i class="glyphicon glyphicon-home"></i> &nbsp; Home</a></li>
            <li><a href="staff.html" class="external-link"><i class="glyphicon glyphicon-user"></i> &nbsp; Staff</a></li>
             </ul>
</div>
<div class="container_wapper">
    <div id="library_banner_menu">
        <div class="container-fluid">
            <div class="col-xs-4 library_logo">
            	<a href="#">
                	<img src="images/library_logo.png" id="logo_img" alt="" title="Integrated Library System"/>
                	<h1 id="logo_text">ILS<span></span></h1>
                </a>
            </div>
            <div class="col-sm-3 hidden-xs" style="float:right">
                <ul class="nav nav-justified">
                    <li><a href="home.html" class="external-link"">Home</a></li>
                    <li><a rel="nofollow" href="staff.html" class="external-link">Staff</a></li>
                    
                 </ul>
            </div>
            <div class="col-xs-8 visible-xs">
                <a href="#" id="mobile_menu"><span class="glyphicon glyphicon-th-list"></span></a>
            </div>
        </div>
    </div>
</div>

<div id="library_about" class="container_wapper">
    <div class="container-fluid">
    	<br><br><br>
        <h1>Patrons</h1>
        <table style="width:100%">
  <tr>
    <th>Card Number</th>
    <th>Name</th>
    <th>Date of birth</th>
    <th>Category</th>
    <th>Library</th>
    <th>OD/Checkouts</th>
    <th>Fines</th>
    
    
  </tr>
  <tr>
    <td>005</td>
    <td>Ajay Kumar</td>
    <td>15 Nov 1997</td>
    <th>Staff(S)</th>
    <th>Main branch</th>
	 <td>4/4</td>
	 <td>607.00</td>
	 
  </tr>
</table>
</div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.singlePageNav.min.js"></script>
<script src="js/unslider.min.js"></script>
<script src="js/library_script.js"></script>
</body>
</html>
