<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>tools</title>
    <meta name="description" content="" />
    <meta name="author" content="library">
    <link rel="shortcut icon" href="images/library_logo.png" />		
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/camera.css" rel="stylesheet">
    <link href="css/library_style.css" rel="stylesheet">
    
  </head>
<body>


<div id="library_mobile_menu">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="home.html" class="external-link"><i class="glyphicon glyphicon-home"></i> &nbsp; Home</a></li>
            <li><a href="staff.html" class="external-link"><i class="glyphicon glyphicon-user"></i> &nbsp; Staff</a></li>
             </ul>
</div>
<div class="container_wapper">
    <div id="library_banner_menu">
        <div class="container-fluid">
            <div class="col-xs-4 library_logo">
            	<a href="#">
                	<img src="images/library_logo.png" id="logo_img" alt="" title="Integrated Library System"/>
                	<h1 id="logo_text">ILS<span></span></h1>
                </a>
            </div>
           <div class="col-sm-3 hidden-xs" style="float:right">
                <ul class="nav nav-justified">
                    <li><a href="home.html" class="external-link"">Home</a></li>
                    <li><a rel="nofollow" href="staff.html" class="external-link">Staff</a></li>
                    
                 </ul>
            </div>
            <div class="col-xs-8 visible-xs">
                <a href="#" id="mobile_menu"><span class="glyphicon glyphicon-th-list"></span></a>
            </div>
        </div>
    </div>
</div>
<div id="library_about" class="container_wapper">
    <div class="container-fluid">
    	<br>

<div id="library_about" class="container_wapper">
    <div class="container-fluid">
    	<br><br><br>
        <h1>Tools</h1>
        <a href="#">Calendar</a><br>&nbsp;&nbsp;&nbsp;
        Define days when tha library is closed  <br>
        <a href="#">CSV profiles</a><br>&nbsp;&nbsp;&nbsp;
        Manage CSV export profiles  <br>
        <a href="#">Log viewer</a><br>  &nbsp;&nbsp;&nbsp;
        Browse the system logs	<br>
        <a href="#">News</a><br>&nbsp;&nbsp;&nbsp;
        	Write news for the OPAC and staff interfaces	<br>
        
        
        	<a href="#">Edit quotes for QOTD feature</a><br>&nbsp;&nbsp;&nbsp;
        	Quote editor for Quote-of-the-day feature in OPAC	<br>
        
        	<a href="#">Upload</a><br>&nbsp;&nbsp;&nbsp;
        	Upload any type of file, manage uploads	<br>
        	<a href="#">Access files</a><br>&nbsp;&nbsp;&nbsp;
        	Access files stored on the server, like log files or reports	<br>
 </div>
 </div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.singlePageNav.min.js"></script>
<script src="js/unslider.min.js"></script>
<script src="js/library_script.js"></script>
</body>
</html>




